body { 
	margin:0; 
	font-family: 'Roboto Condensed', sans-serif; 
	font-size:16px; 
	line-height:1.6em; 
	
}

h1, h2, h3, h4, h5, h6 { font-family: 'Abril Fatface', sans-serif; font-weight:normal; line-height:1em; }

h1 { font-size:60px; }
h2 { font-size:48px; }
h3 { font-size:42px; }
h4 { font-size:36px; }
h5 { font-size:30px; }
h6 { font-size:24px; }

.limites { max-width:900px; margin:50px auto 100px; }

ul { list-style:none; padding:0; margin:0; }

img.left { margin:15px 25px 15px 0; }
img.right { margin:15px 0 15px 25px; }

.centralizar { margin:50px auto; display:block; }

.box1 { 
	background-color:rgba(255,0,0,.5); 
	margin:0; 
	border:0;
	
	padding:20px;
	height:400px;
	background-image:url(imagens/bosh.jpg);
	background-position:center;
	background-attachment:fixed;
}

.box2 { 
	background-color:#ff0; 
	margin:20px 10px 50px; 
	border:0;
	border-top:20px dashed #fc0;
	padding:20px;
	max-width:100px;
	height:2000px;
	box-sizing:border-box;
	
}


.box3, .box4, .box5 { width: 33.3333%; display:inline-block; vertical-align:top; padding: 20px; box-sizing: border-box;}


.coluna { background-color: green; padding: 20px; color: white; }

.coluna:hover { background-color: #48c052; }