body { margin:0; font-family: 'Roboto Slab', sans-serif; font-size:16px; line-height:1.6em; }

h1, h2, h3, h4, h5, h6 { font-family: 'Abril Fatface', sans-serif; font-weight:normal; line-height:1em; }

h1 { font-size:60px; }
h2 { font-size:48px; }
h3 { font-size:42px; }
h4 { font-size:36px; }
h5 { font-size:30px; }
h6 { font-size:24px; }

.limites { max-width:900px; margin:50px auto 100px; }

ul { list-style:none; padding:0; margin:0; }

img.left { margin:15px 25px 15px 0; }
img.right { margin:15px 0 15px 25px; }

.centralizar { margin:50px auto; display:block; }

.box1 { background-color:#ff0; margin:20px 10px 50px; border:0; border-top:20px dashed #fc0; padding:20px; width:300px; height:200px; background-image: url(imagens/padrao.png); background-attachment: fixed;}

.box2 { background-color:#ff0; margin:20px 10px 50px; border:0; border-top:20px dashed #fc0; padding:20px; width:300px; height:200px; box-sizing:border-box; }

.box3 { background: #CCC; }
.box4 { background: #666; }
.box5 { background: #999; }


.box3, .box4, .box5 {width: 33.3333%; display: inline-block; }

.elementos {
	width: 25%;
	border-style: solid;
	box-sizing: border-box;
	border-width: 2px;
	border-color: #333;
	padding: 1%;
	background-color: #aaa;
	display: inline-block;
	height: 20%;
	vertical-align: top;
}

.elementos:hover {border-color: red;}