<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Aula 06 - Layout</title>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto+Condensed:400,700" rel="stylesheet">
    <link href="estilos.css" rel="stylesheet" type="text/css" />
  </head>
  <body>

  	<div class="limites">

  		<!-- topo -->
  		<div class="topo">
  			Topo
  		</div>
  		
  		<!-- navegacao -->
  		<div class="navegacao">
  			Navegação
  		</div>

  		<!-- conteudo -->
  		<div class="conteudo">
  			<div class="centralizado">
  				<h2>Conteúdo</h2>
  			</div>
  		</div>

  		<!-- rodape -->
  		<div class="rodape">
  			Rodapé
  		</div>

  	</div>

  </body>
</html>

